---
title: "StartupOulu"
layout: frontpage
---
      <section class="event_title_section">
        <div class="r2a_container bg-color-white">
          <h2 class="common_title">Meet likeminded people at the events organized by Oulu startup ecosystem partners.</h2>
        </div>
      </section>
      <!-- event title section end -->

      <section class="">
        <div class="r2a_container">
          <div style="display: flex; flex-direction: column; background-color: rgb(221, 226, 178); text-align: left; ">
            
            <h2 style="font-size: 19px;">
              <span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 24px; height: 24px;">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                </svg>
              </span>
              <span>
                Ongoing
              </span>
            </h2>

            <ul>
              <li>Mentor Mornings, every monday and wednesday, 9:30 - 11:30</li>
            </ul>
            
          </div>
        </div>
      </section>

      {% include upcoming_events.html %}

      <!-- service section start -->
      <section class="service">
        <div class="r2a_container">
          <div class="service_title common_title">No matter where you are on your journey, we have something to help your growth</div>
          <div class="services">
            <div class="common_side_title">SERVICES</div>
            {% include service_cards.html %}
        </div>
        </div>
        <!-- service bg image -->
        <img src="{{ site.baseurl }}/assets/images/service.png" alt="service images" class="service_image">
      </section>
      <!-- service section ends -->

      {% include startup_numbers_in_oulu.html %}

