<!-- desktop -->
  <ul>
    <li><a href="{{ site.baseurl }}/events.html" class="nav-item">Events</a></li>
    <li><a href="{{ site.baseurl }}/services/index.html" class="nav-item">Ecosystem Services</a>
      <ul>
        <li><a href="{{ site.baseurl }}/services/just-exploring.html" class="nav-item">Just Exploring</a></li>
        <li><a href="{{ site.baseurl }}/services/getting-started.html" class="nav-item">Getting Started</a></li>
        <li><a href="{{ site.baseurl }}/services/ready-to-grow.html" class="nav-item">Ready to Grow</a></li>
        <li><a href="{{ site.baseurl }}/services/find-a-team.html" class="nav-item">Find a team</a></li>
        
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/oulu-startup-database/" class="nav-item">Startup Database</a></li>
    <li><a href="{{ site.baseurl }}/blogs.html" class="nav-item">Blog</a></li>
    <li><a href="{{ site.baseurl }}/contact.html" class="nav-item">Contacts</a></li>
  </ul>
<!-- mobile -->
