<!-- desktop -->
  <ul>
    <li><a href="{{ site.baseurl }}/events.html" class="nav-item">Events</a></li>
    <li><a href="{{ site.baseurl }}/services/index.html" class="nav-item">Services</a>
      <ul>
        <li><a href="{{ site.baseurl }}/services/mindset.html" class="nav-item">Mindset Stage</a></li>
        <li><a href="{{ site.baseurl }}/services/pre-startup.html" class="nav-item">Pre-startup</a></li>
        <li><a href="{{ site.baseurl }}/services/startup.html" class="nav-item">Startup</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/blogs.html" class="nav-item">Blog</a></li>
    <li><a href="{{ site.baseurl }}/contact.html" class="nav-item">Contacts</a></li>
  </ul>
<!-- mobile -->
