<!-- start _includes/startup_numbers_in_oulu.html -->
<section class="startup_section">
<div class="r2a_container">
  <h2 class="startup_title common_title">Take a look at Oulu’s startups</h2>
  <div class="startups relative">
    <div class="common_side_title">IN NUMBERS</div>
    <div class="startups_items flex justify-between gap-100">
      <!-- startup 1 -->
      <div class="startups_item">
        <div class="startups_num counter">421</div>
        <div class="startups_label">VERIFIED STARTUPS</div>
      </div>
      <!-- startup 2 -->
      <div class="startups_item">
        <div class="startups_num counter">4</div>
        <div class="startups_label">VC INVESTORS</div>
      </div>
      <!-- startup 3 -->
      <div class="startups_item">
        <div class="startups_num counter">250</div>
        <div class="startups_label">FUNDING ROUNDS</div>
      </div>
      <!-- startup 4 -->
      <div class="startups_item">
        <div class="startups_num counter">4,876</div>
        <div class="startups_label">STARTUP EMPLOYEES</div>
      </div>
    </div>
    <div class="flex startup_bottom">
      <a class="startup_link flex items-center gap-10" href="https://onyx-toothpaste-540.notion.site/Oulu-Region-Startup-Scaleup-Funnel-updated-Nov24-cdaa805c1d7144d18c7729a48ce24bf1">DASHBOARD | THE OULU STARTUP ECOSYSTEM <div class="common_arrow"></div></a>
    </div>
  </div>
</div>
</section>
<!-- end _includes/startup_numbers_in_oulu.html -->