{% assign start_date = include.start_time | date: "%Y-%m-%d" %}
{% assign end_date = include.end_time | date: "%Y-%m-%d" %}

{% if start_date == end_date %}
  <span>
    {{ include.start_time | date: "%A, %B %-d, %Y" }}
  </span>
  <br>
  <span>
    {{ include.start_time | date: "%H:%M" }} - {{ include.end_time | date: "%H:%M" }}
  </span>
{% else %}
  <span>
    {{ include.start_time | date: "%A, %B %-d, %Y at %H:%M" }}
  </span>
  <br>
  <span>
    {{ include.end_time | date: "%A, %B %-d, %Y at %H:%M" }}
  </span>
{% endif %}
