

@import "variables";
@import "_components/event_card";
@import "_components/menu";
@import "_components/events";
@import "_pages/home";
@import "_pages/event";
@import "_pages/single_event";
@import "_pages/service";
@import "_pages/single_service";
@import "_components/blog_item";
@import "_pages/single_blog";
@import "_pages/contact";
@import "_pages/incubator";

@import '_components/newsletter';

@import '_components/event_archive';

@import '_pages/find-a-team';

*,
*::before,
*::after {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: $default-font-size;
  font-family: $default-font-face;
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Hanken Grotesk", sans-serif;
}
// .container {
//   margin-top: 2rem;
//   margin-bottom: 2rem;
//   padding: 2rem;
//   flex: 1;
//   max-width: $breakpoint;
// }


// Add your custom CSS here
// background colors


.iframe {
  overflow: hidden;
  position: relative; 
  height: 100vw;
  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.flex{
    display: flex 
  }
.justify-center{
  justify-content: center; 
}

.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.justify-left {
  justify-content: left;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}
  
.container-fluid{
  width:100%;
  padding: 10px 30px;
}
.r2a_container{
  width: 1160px;
  margin: 0 auto;
}

.common_btn{
  width: 278px;
  height: 50px;
  background: $brand-color;
  color: $white-color;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3.6px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.link_text{
  font-size: 16px;
  font-weight: 700;
  color: $brand-color;
  text-decoration: none;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.line{
  width: 91px;
  height: 2px;
  background: $brand-color;
}

.common_icon{
  width: 25px;
  color: $brand-color;
}

.mb_100{
  margin-bottom: 100px;
}
.mt_40{
  margin-top: 40px;
}

.gap-10{
  gap: 10px;
}
.gap-20{
  gap: 20px;
}
.gap-40{
  gap: 40px;
}
.gap-60{
  gap: 60px;
}
.gap-100{
  gap: 100px;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-5 {
  gap: 5rem;
}
// bg color
.bg-color-white {
  background-color: $white-color;
}
.bg-color-blue {
  background-color: $brand-color;
}
.bg-color-orange {
  background-color: $orange-color;
}
.bg-color-pink {
  background-color: $pink-color;
}

//colors
.color-white {
  color: #fff;
}
.color-blue {
  color: $brand-color;
}
.color-orange {
  color: $orange-color;
}
.color-pink {
  color: $pink-color;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.common_title{
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
}

.common_side_title {
  transform: matrix(0, -1, 1, 0, 0, 0);
  left: -40px;
  top: 50px;
  letter-spacing: 2.8px;
  font-weight: 700;
  position: absolute;
}

.item_title{
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  color: $brand-color;
}
.common_pera{
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: $brand-color;
  text-decoration: none;
}

.d_none{
  display: none;
}
.d_block{
  display: block;
}
.common_arrow{
  width: 50px;
  height: 1px;
  background-color: $white-color;
  position: relative;
  transition: all 0.5s;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%) rotate(-45deg);
    width: 15px;
    height: 15px;
    border-right: 1px solid $white-color; 
    border-bottom: 1px solid $white-color; 
  }
}

.underline{
  width: 120px;
  height: 1px;
  background-color: $brand-color;
  transition: all 0.5s;
}

.active{
  display: block !important;
  opacity: 1 !important;
  transition: all 0.5s !important; 
}
