

.event-archive {
  margin: 3rem auto;
  max-width: 680px;
  padding-inline: 1rem;
  font-weight: normal;

  h1 {
    font-size: clamp(2rem, 6vw, 2.6rem);
    margin-bottom: 1rem;
    text-align: center;
  }

  .year-section {
    margin-bottom: 2rem;

    .year {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .month-section {
    margin: 1rem 0;
  }

  @media (min-width: 681px) {
    padding-inline: 0;

    .month-section {
      margin-left: 1rem;
    }
  }
}
