// mobile layout
.events-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 80px 20px;

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    //height: 650px;   <-- when height is not defined, it will set the size by highest grid/card element
  }
}



@media (min-width: 641px) and (max-width: 768px) {

  // desktop layout
  .events-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 761px) {

  // desktop layout
  .events-grid {
    grid-template-columns: repeat(3, 33.33%);
  }
}