
@import 'variables';

.contact_support{
    padding: 120px 0;
    .r2a_container{
        .contact_support_wrapper{
            .contact_support_item{
                margin-top:70px;
                gap: 70px;
                .supporter_img{
                    width: 50%;
                    img{
                        width: 100%;
                    }
                }
                .content{
                    width: 50%;
                    padding-top: 67px;
                    .common_pera{
                        color: $brand-color;
                    }
                }
            }
        }
    }
}


@media (max-width: 767.98px){
    .contact_support{
        padding: 80px 0;
        .r2a_container{
            .contact_support_wrapper{
                .contact_support_item{
                    margin-top:40px;
                    gap: 20px;
                    flex-direction: column;
                    .supporter_img{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .content{
                        width: 100%;
                        padding-top: 20px;
                        .common_pera{
                            color: $brand-color;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .contact_banner{
        min-height: 900px;
        .mobile_content{
            bottom: 0;
        }
    }
    .contact_support{
        padding: 100px 0;
        .r2a_container{
            .contact_support_wrapper{
                .contact_support_item{
                    margin-top:40px;
                    gap: 50px;
                    .supporter_img{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .content{
                        width: 100%;
                        padding-top: 0;
                        .common_pera{
                            color: $brand-color;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){}
