

@import 'variables';
// banner section for event page
.event_banner{
    padding: 112px 0;
    // height: 600px;
    background-color: $brand-color;
    overflow: hidden;
    .r2a_container{
        height: 100%;
        .content{
            width: 497px;
            // height: 600px;
            color: $white-color;
            .top_title{
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 2.8px;
                margin-bottom: 35px;
            }
            .common_pera{
                color: $white-color;
                line-height: 30px;
            }
        }
    }
    
    .banner_image{
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .mobile_content{
        display: none;
        color: $white-color;
        padding: 50px;
        width: 90%;
        .top_title{
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 2.8px;
        }
        .common_pera{
            color: $white-color;
            line-height: 30px;
        }
    }
}

// event section
.events_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .card{
        width: 100%;
    }
}
// mobile screen responsive
@media (max-width: 767.98px){
    // banner section for event page
    .event_banner {
        overflow: visible;
        background: $white-color;
        min-height: 670px;
        padding: 0px 0;
        .r2a_container{
            display: none;
        }
        .banner_image{
            width: 100%;
            height: auto;
        }
        .mobile_content{
            display: block;
            position: absolute;
            bottom: 50px;
            left: 0;
            background: $brand-color;
        }
    }

    // event section
    .events_grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 50px;
        
        
    }
    .event_section{
        .flex{
            .show_event_btn {
                margin-bottom: 100px;
            }
        }
    }
}
// tablet screen responsive
@media (min-width: 768px) and (max-width: 991.98px){
    .events_grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 50px;
    }
    .event_banner {
        overflow: visible;
        background: $white-color;
        min-height: 650px;
        padding: 0px 0;
        .r2a_container{
            display: none;
        }
        .banner_image{
            width: 100%;
            height: auto;
        }
        .mobile_content{
            display: block;
            position: absolute;
            bottom: 50px;
            left: 0;
            background: $brand-color;
        }
    }
    .event_section{
        .show_event_btn {
            margin-bottom: 0px;
        }
    }
    
}

// laptop screen responsive
@media (min-width: 992px) and (max-width: 1199.98px){
    
}
