.incubator {
  font-size: 22px;

  .incubator-section {
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 2rem;
    font-weight: 800;
  }
  h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 3rem;
  }

  p {
    line-height: 1.5;

  }
  ol, li {
    line-height: 1.8;
  }
}
