
@import 'variables';

// hero section
.single_event_hero{
    padding: 70px 0;
    .r2a_container{
        .content{
            width: 50%;
            .top_title{
                a{
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 2.8px;
                    color: $brand-color;
                    text-decoration: none;
                }
                i{
                    font-size: 10px;
                    line-height: 10px;
                }
            }
            .common_title{
                padding: 30px 0;
            }
            .card_meta{
                .card_icon{
                    font-size: 16px;
                    color: $brand-color;
                    padding-right: 10px;
                }
                a{
                    text-decoration: none;
                }
            }
            .location{
                padding-top: 20px;
            }
            .description{
                padding: 30px 0;
            }
        }
        .image{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
}

// pagination section

.pagination_section{
    padding: 28px 32px;
    background-color: #EDF2F5;
}

@media (max-width: 767.98px){
    // hero section
    .single_event_hero{
        padding: 0;
        .r2a_container{
            flex-direction: column-reverse;
            gap: 20px;
            .content{
                width: 100%;
                .common_title{
                    padding: 20px 0;
                }
                .location{
                    padding-top: 10px;
                }
                .description{
                    padding: 15px 0;
                }
            }
            .image{
                width: 100%;
            }
        }
    }
    .pagination_section{
        margin-top: 50px;
        .flex{
            .item{
                .desktop{
                    display: none;
                }
                .d_none{
                    display: flex;
                }
            }
            .all_item{
                display: none;
            }
        }
    }
    .for_mobile_pagination{
        padding: 28px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $brand-color;
        .link_text{
            color: $white-color;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .single_event_hero{
        padding: 0;
        .r2a_container{
            flex-direction: column-reverse;
            gap: 20px;
            .content{
                width: 100%;
                .common_title{
                    padding: 20px 0;
                }
                .location{
                    padding: 10px 0;
                    padding-bottom: 0;
                }
                .description{
                    padding: 15px 0;
                }
            }
            .image{
                width: 100%;
            }
        }
    }
    .pagination_section{
        margin-top: 50px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){}
