---
---
{% assign event = nil %}
{% for e in site.data.events %}
  {% assign slug = e.title | slugify %}
  {% if slug == page.event_data %}
    {% assign event = e %}
    {% break %}
  {% endif %}
{% endfor %}

<div class="event-details">
  <h1>{{ event.title }}</h1>
  <p class="date">Date: {{ event.date | date: "%B %d, %Y" }}</p>
  <p class="time">Time: {{ event.time }}</p>
  <p class="venue">Venue: {{ event.venue }}</p>
  <p class="description">{{ event.description }}</p>
  {% if event.registration_url %}
    <a href="{{ event.registration_url }}" class="register-button">Register</a>
  {% endif %}
</div>

